@using MAC.Models.Medicamentos;
<div class="row">
    <div class="col-9">
        <table class="table table-bordered table-striped" style="cursor: pointer;">
            <tr>
                <td>Trimetropina 80 MG</td>
            </tr>
            <tr>
                <td>Sulfametoxazol 400 MG</td>
            </tr>
        </table>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i>&nbsp;Agregar</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success btn-sm btn-block"><i class="fa fa-edit"></i>&nbsp;Editar</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-danger btn-sm btn-block"><i class="fa fa-trash"></i>&nbsp;Eliminar</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        @await Html.PartialAsync("~/Areas/Medicamentos/Views/Shared/_EditSALPartial.cshtml", new VMSAL())
    </div>
</div>